# ==========================
# Flutter
# ==========================

frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub/
frontend/.pub-cache/
frontend/build/
frontend/coverage/
frontend/**/doc/api/
frontend/**/ios/Flutter/.last_build_id

frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/

# ==========================
# IDEs
# ==========================

frontend/.idea/
frontend/*.iml

.vscode/

# ==========================
# macOS / Windows
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Rust
# ==========================

backend/target/

# Si usás SQLite local
backend/*.db
backend/*.db-shm
backend/*.db-wal

# Variables de entorno
backend/.env

# Logs
*.log